body, html {
	height: 100%;
}
body{
	margin: 0;
}
*{
	font-family: 'Raleway', sans-serif;
}

section{
	margin-left: 15vw;
	margin-right: 15vw;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}


a{
	transition: 0.5s;
	text-decoration: none;
	color: rgba(26,115,232,1);
}
a:hover{
	color: rgba(26,115,232,1);
	border-bottom-style: solid;
	border-bottom-width: .5px;
	border-bottom-color: rgba(26,115,232,1);
}

form{
	margin-block-end:0;
}
p,li,label{
	font-size: 1.2em;
}


footer{
	color: rgb(243 236 236);
	background-color:rgb(23 24 28);
}
#page-title{
	margin-left: 25px;
	font-size: 2.4em;
}

.nav-item{
	transition: 0.5s;
	display: inline-flex;
	list-style: none;
	padding: 7px 14px 7px 14px;
}
.nav-link{
	font-size: 1.1em;
	transition: 0.5s;
	color: inherit;
	text-decoration: none;
	text-align: center;
}
.nav-link:hover,
.nav-link:focus{
	transform: translateY(-0.3em);
	color: rgba(0,2,250,1);
	border:none;
}

.active{
	color: rgba(26,115,232,1);
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(26,115,232,1);
}
.active:hover,
.active:focus{
	transform: translateY(-0.4em);
	color: rgba(0,2,250,1);
	border-bottom-color: rgba(0,2,250,1);
}
	
.container{
	display: flex;
	align-items: center;
}


.img-sm{
	width: 40vw;
}

.img-md{
	width: 63vw;
}

.img-lg{
	width: 73vw;

}

.social-media:hover{
	border-bottom: none;
}

i{
	color: white;
}

.social-media > i{
	transition: 0.5s;
	font-size: 1.8em;
}

.social-media > i:hover{
	transform: translateY(-.2em);
	color: rgba(26,115,232,1);
	font-size: 2.2em;
}

.text-center{
	text-align: center;
}

#footer-logo{
	width: 200px;
}

#copyright{
	width: 200px;
}

#footer-logo,
#copyright{
	margin-left: 15px;
}